<footer>
  <nav>
  </nav>

  <div class="wrapper">
    <div class="bleed">
      <h1>Contato</h1>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      <h1>Outras mídias</h1>
      <ul class="social-media-list">
        {% for teta in site.teta_links  %}
          <li>
            <a href="{{ teta.url }}">{{ teta.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!--
    <ul class="social-media-list">
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>
    -->
</footer>
