<header role="banner">
  <div id="site-header" class="wrapper">
    <div id="site-header-text" class="bleed">
      <a href="{{ "/" | relative_url }}">
        <h1>
          {{ site.title | escape }}
        </h1>
      </a>
    </div>
    <nav id="site-header-nav">
      {% assign sobre = site.pages | where: "permalink", "/sobre/" | first %}
      {% assign loja = site.pages | where: "permalink", "/loja/" | first %}
      <a id="header-link-sobre" href="{{ sobre.url | relative_url }}">
        {{ sobre.title | escape }}
      </a>
      <a id="header-link-loja" href="{{ loja.url | relative_url }}">
        {{ loja.title | escape }}
      </a>
    </nav>
  </div>
</header>
