/* Coolors Exported Palette - coolors.co/002bad-28262c-998fc7-d4c2fc-f9f5ff */

/* HSL */
$color1: hsla(225%, 100%, 34%, 1);
$color2: hsla(260%, 7%, 16%, 1);
$color3: hsla(251%, 33%, 67%, 1);
$color4: hsla(259%, 91%, 87%, 1);
$color5: hsla(264%, 100%, 98%, 1);

/* RGB */
$color1: rgba(0, 43, 173, 1);
$color2: rgba(40, 38, 44, 1);
$color3: rgba(153, 143, 199, 1);
$color4: rgba(212, 194, 252, 1);
$color5: rgba(249, 245, 255, 1);